<ifmodule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /piperserica-frontend/
    RewriteRule ^index\.html$ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-l
    RewriteRule . /piperserica-frontend/index.html [L]
</ifmodule>
